@use '@/styles/fonts/ptsans/ptsans.css';
@use '@mdi/font/css/materialdesignicons.css';
@use 'vuetify/lib/styles/main' with (
  $body-font-family: ('PT Sans', sans-serif),
);

#app {
	a {
		text-decoration: none;
		color: white;
		font-size: 18px;
		transition: opacity 0.1s ease-in-out;

		&:hover {
			opacity: 0.8;
		}
	}

	.v-container {
		max-width: 1200px;
		padding: 12px;
	}

	.v-btn {
		border-radius: 6px;
	}

}

