@use '@/styles/fonts/ptsans/ptsans.css';
@use '@mdi/font/css/materialdesignicons.css';
@use 'vuetify/lib/styles/main' with (
  $body-font-family: ('PT Sans', sans-serif),
);

a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	transition: opacity 0.1s ease-in-out;

	&:hover {
		opacity: 0.8;
	}
}

#app {
	.v-container {
		max-width: 1200px;
		padding: 12px;
	}

	.v-btn {
		border-radius: 6px;
	}
	.v-alert {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		transition: transform 0.3s ease-in-out;
	}

	.v-alert.hidden {
		transform: translateX(-50%) translateY(-100%);
	}

	.v-input__details {
		display: none;
	}
}

